.sidebar{
    transition: transform 0.3s;
}

.sidebar a{
        display: block;
        text-decoration: none;
        color: aliceblue; 
        padding: 10px 0 10px 10px;
    }
@media (max-width: 992px){

    .sidebar{
        position: fixed;
        transform: translateX(-100%);
        z-index: 1;
    }

    .sidebar a:hover{
        background-color: #4A4947;

    }

    .sidebar.show{
        transform: translateX(0);
    }

}


.add-to-cart-btn {
    font-size: 16px;
    background-color: #965b4e;
    color: #FAF7F0;
    padding: 4px 40px;
    border-radius: 50px;
    border: 1px;
    transition: 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
    background-color: #4A4947;
    transform: scale(1.09);
}

.camera-digital {
    width: 200px;
    height: 165px; 
}

.fone-ouvido {
    width: 175px;
    height: 165px;
}

.laptop {
    width: 225px;
    height: 165px;
}

.tablet {
    width: 225px;
    height: 165px;
}

.product-body {
    justify-content: space-between;
    padding: 10px;
    color: #4A4947;
}

.product-old-price {
    color: #B17457;
}

.product-description {
    color: #8D493A;
}

.btn-primary {
    background-color: #4a4847;
    color: #FAF7F0;
}

.btn-secondary {
    background-color: #777672;
    color: #FAF7F0;
}

.cards-vendas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: #fef2ef;
    border: 1px solid #d7bbb4;
    border-radius: 10px;
    padding: 10px; /* Adicionei um padding para dar um espaço interno */
}

.cards-vendas .card {
    flex: 1;
    text-align: center;
    font-size: 0.9rem;
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 10px; /* Deixa os cards arredondados */
}

.card-bloco-vendas {
    background-color: #da8c7d;
    border: 1px solid #cd8577;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

.card {
    background-color: #fef2ef;
    border: 1px solid #d7bbb4;
    border-radius: 10px; /* Adiciona bordas arredondadas aos cards gerais */
}

.profile-card {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.small-text {
    font-size: 12px; /* Deixa a fonte menor */
    margin: 5px 0;
}

.profile-button img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
   
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  .login-card h2 {
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
  }
  
  .login-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-card label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .login-card input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    }
  
  .login-card button {
    background: #965b4e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .login-card button:hover {
    background: #532e25;
  }

  .cards-anuncios {
    background-color: #fef2ef;
    border: 1px solid #d7bbb4;
    border-radius: 10px;
    color: #4A4947;
    transition: 0.3s ease-in-out;
    min-height: 230px; /* Altura maior */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.cards-anuncios:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #b86551;
}

.btn-primary:hover {
    transform: scale(1.0);
    background-color: #4A4947;
}

/* Estilo do link */
.cards-anuncios a {
    color: #007bff; /* Azul padrão */
    text-decoration: none;
    font-weight: bold;
}

.cards-anuncios a:hover {
    text-decoration: underline;
}

.card-text {
    font-size: smaller;
}